{% extends 'base.html' %}


{% block head %}
<!-- link our js file -->
<script type="text/javascript" src="{{url_for('static', filename = 'js/main.js')}}"></script>

<script src="{{url_for('static', filename = 'js/jquery-3.6.4.slim.min.js')}}" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('static', filename = 'css/jquery.dataTables.css')}}"/>
<script src="{{url_for('static', filename = 'js/jquery.dataTables.js')}}"></script>

{% endblock %}

{% block title %} allocations {% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
  <table id='t-alloc' class='display'>
    <thead>
      <tr>
        <th>allocation id</td>
        <th>state</td>
        <th>server</td>
        <th>target</td>
        <th>user</td>
        <th>priority</td>
        <th>actions</td>
      </tr>
    </thead>
    <tbody>
        {% for k, v in allocs.items() %}
            <tr>
                <td>{{ k }}</td>
                {% if v.state == 'active'%}
                    <td style='color: green;'>{{ v.state }}</td>
                {% else %}
                    <td style='color: red;'>{{ v.state }}</td>
                {% endif %}
                <td>
                  <div class = "tooltip">
                    {# this is the short server name, the URL is in a
                       tool tip, so the table displays better #}
                    {{ v.server }}
                    <span class = "tooltiptext">
                      <a href = {{v.server_url}}/ttb-v2/ui>{{v.server_url}}</a>
                    </span>
                  </div>
                </td>

                <td>
                  {% if v.targets_short is defined %}  {# too long, shorten and tooltip #}
                    <div class = "tooltip">
                      {{v.targets_short}}
                      <span class = "tooltiptext">
                        <!-- FIXME: add hyperlinks to control panel for each target-->
                        {{v.targets}}
                      </span>
                    </div>
                  {% else %}	{# entry is short, no need to tooltip it #}
                    {{v.targets}}
                  {% endif %}
                </td>

                <td>
                  {% if v.user == g.user %}
                    <div class = "tooltip">
                      <label style='color: lightseagreen;'>you </label>
                      <span class = "tooltiptext">{{ v.user }}</span>
                    </div>
                  {% else %}
                    {{v.user}}
                  {% endif %}
                </td>
                
                <td>{{v.priority}}</td>
                <td>
                    <!-- FIXME: to save horizonzal space, replace with
                         a trashcan icon next to the ALLOCID in col
                         #1? ask to confirm to avoid confusions -->
                    <button class='acquire' onclick='js_alloc_remove("{{k}}")'>remove</button>
                    <!-- FIXME: replace with a hyperlink on the ALLOCID in col #1? -->
                    <button>control panel</button>
                    <!-- FIXME: in general, we could replace most
                         fields in tables that are going to be long
                         with two fields fieldname and fieldname_short
                         so that fieldname is displayed in a tooltip
                         and fieldname_short is always displayed and
                         this way tables would be consistently in
                         size? -->
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

<script>
// datatables part, basically pass the id of the table to the function, and it
// does the rest
$(document).ready( function () {
    $('#t-alloc').DataTable({
        scrollY: '70vh',
        scrollCollapse: true,
        paging: false,
    });

} );
</script>
{% endblock %}

