{% extends 'login_content.html' %}

{% block head %}
  <!-- load stylesheets -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/buttons.css')}}"/>
{% endblock %}

{% block login %}
<!-- default from ttbd/ui/templates/login.html;
  -- customize me:
  --
  -- 1. copy to /etc/ttbd-INSTANCE/html or /etc/ttbd/html
  -- 2. customize
  -->
<div class='main'>
  <div class='column-main tile'>
    <form action="login" method="post">
      <table border="0">
        <tbody>
          <tr>
            <td>username:</td>
            <td>
              <input type="text" name="username" size="40" autocorrect="off"
                     spellcheck="false" autocapitalize="none" autofocus="true">
            </td>
          </tr>
          <tr>
            <td>password:</td>
            <td>
              <input type="password" name="password" size="40">
            </td>
          </tr>
        </tbody>
      </table>
      <input type="submit" value="login">
    </form>
  </div>
</div>
{% endblock login %}
