{% extends 'base.html' %}

{% block title %} targets {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/targets.css')}}"/>

<script src="{{url_for('static', filename = 'js/targets.js')}}"></script>


<link rel="stylesheet" href="{{url_for('static', filename = 'css/external/jquery.dataTables.css')}}"/>

<script src="{{url_for('static', filename = 'js/external/jquery-3.6.4.slim.min.js')}}" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename = 'js/external/jquery.dataTables.js')}}"></script>

{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}

{% if not targets %}

<p align=center><b>No targets seem to be available</b></p>
<p align=center>Did you <a href = "login">log-in</a>? You might have
no permissions, use the <i>report issue</i> link above</p>

{% else %}

<div class='toolbar-targets'>
      <div class = "tooltip">
        <button class='acquire-targets' onclick='js_acquire_selected_targets("checkbox-acquire-target")'>acquire selected</button>
        <span class = "tooltiptext">
           Allocate targets
          <p>
            You can select the checkbox of multiple targets (displayed in the
            table bellow) and acquire them by clicking on this button
          </p>
          <p>
            On the command line, you can use:
            <pre><code class="language-bash">$ tcf acquire target1 target2 target3</code></pre>
          </p>
        </span>
      </div>
</div>
<hr>
<table id='t-targets' class='display'>
<thead>
  <tr>
    <th>&nbsp;</td>
    <th>target id</td>
    <th>type</td>
    <th>ipv4 address</td>
    <th>mac address</td>
    <th>owner</td>
  </tr>
</thead>
<tbody>

  {% for k, v in targets.items() %}
  <tr>
    <td> <input class='checkbox-acquire-target' value='{{k}}' type='checkbox'> </td>
    <td> <a href='/ttb-v2/ui/target/{{k}}'>{{ k }}</td>
    <td>{{ v.type }}</td>

    <td>
      {% if v.ip_short is defined %}  {# too long, shorten and tooltip #}
        <div class = "tooltip">
          {{v.ip_short}}
          <span class = "tooltiptext">{{v.ip}}</span>
        </div>
      {% else %}	{# entry is short, no need to tooltip it #}
        {{v.ip}}
      {% endif %}
    </td>

    <td>
      {% if v.mac_short is defined %}  {# too long, shorten and tooltip #}
        <div class = "tooltip">
          {{v.mac_short}}
          <span class = "tooltiptext">{{v.mac}}</span>
        </div>
      {% else %}	{# entry is short, no need to tooltip it #}
        {{v.mac}}
      {% endif %}
    </td>

    {% if v.owner == 'available'%}
        <td style='color: green;'>{{ v.owner }}</td>
    {% else %}
        <td style='color: red;'>{{ v.owner }}</td>
    {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>

<script>
// datatables part, basically pass the id of the table to the function, and it
// does the rest
$(document).ready( function () {
    $('#t-targets').DataTable({
        scrollY: '70vh',
        scrollCollapse: true,
        paging: false,
    });

} );
</script>
{% endif %}
{% endblock %}
