{% extends 'base.html' %}

{% block title %} targets {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/buttons.css')}}"/>

<script src="{{url_for('static', filename = 'js/targets.js')}}"></script>


<link rel="stylesheet" href="{{url_for('static', filename = 'css/external/jquery.dataTables.css')}}"/>

<script src="{{url_for('static', filename = 'js/external/jquery-3.6.4.slim.min.js')}}" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename = 'js/external/jquery.dataTables.js')}}"></script>

{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}

{% if not targets %}

<p align=center><b>No targets seem to be available</b></p>
<p align=center>Did you <a href = "login">log-in</a>? You might have
no permissions, use the <i>report issue</i> link above</p>

{% else %}

<div class='toolbar-targets'>
      <div class = "tooltip">
        <button class='primary' onclick='js_acquire_selected_targets("checkbox-acquire-target")'>Acquire Selected</button>
        <span class = "tooltiptext">
           Allocate targets
          <p>
            You can select the checkbox of multiple targets (displayed in the
            table bellow) and acquire them by clicking on this button
          </p>
          <p>
            On the command line, you can use:
            <pre><code class="language-bash">$ tcf acquire target1 target2 target3</code></pre>
          </p>
        </span>
      </div>
      <div class = "tooltip" style='margin-left: auto'>
        <button class='secondary' onclick="toggle_class('table-cell-inventory-keys')">Toggle Keys</button>
        <span class = "tooltiptext">
           Toggle the visibility of the keys in the table, if you see no change, there are not keys in the table.
        </span>
      </div>
      <div class = "tooltip" >
        <button class='primary' onclick="location.href='/ttb-v2/ui/targets/customize';">Customize Table</button>
        <span class = "tooltiptext">
           Customize Table
          <p>
            Redirect to a another page where you will be able to customize the
            columns on this table.
            </p>
        </span>
      </div>
</div>
<hr>
<table id='t-targets' class='display'>
<thead>
  <tr>
    <th>&nbsp;</th>
    <th>target id</th>
    {% for field in preferred_fields %}
        <th>{{field}}</th>
    {% endfor %}
  </tr>
</thead>
<tbody>

  {% for targetid, columns in targets.items() %}
  <tr>
    <td> <input class='checkbox-acquire-target' value='{{targetid}}' type='checkbox'> </td>
    <td> <a href='/ttb-v2/ui/target/{{targetid}}'>{{ targetid }}</td>
    {% for field in preferred_fields %}
        {% if columns[field] is mapping %}
            {% if columns[field]['first_entries'] != None %}
                <td>
               {% for key, entry in columns[field]['first_entries']  %}
                    <small class='table-cell-inventory-keys'>{{key}}:</small>
                    <br>
                    {{entry}}
                    <br>
               {% endfor %}
                    <dialog class='dialog-inventory-details' id='{{targetid}}-{{columns[field]}}'>
                      {# details for fields with multiple cells #}
                      <h2>
                        <button autofocus onclick='close_dialog_element_by_id("{{targetid}}-{{columns[field]}}")'>╳</button>{{targetid}}: all values for fields <i>{{field}}</i></h2>
                      <table class='display'>
                        <thead>
                          <th>Field</th>
                          <th>Value</th>
                        </thead>
                        <tbody>
                          {% for key, entry in columns[field]['all_entries'] %}
                          <tr>
                            {# use fixed font for field names, so visually they allign #}
                            <td class='table-cell-inventory-keys'><code>{{ key }}</code></td>
                            <td>{{ entry }}</td>
                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                    </dialog>
                    <button class='show_more_info_inside_table' onclick='open_dialog_element_by_id("{{targetid}}-{{columns[field]}}")'>more...</button>
                </td>
            {% else %}
            <td>
               {% for key, entry in columns[field]['all_entries'] %}
                    {% if columns[field]['all_entries']|length != 1 %}
                        <small class='table-cell-inventory-keys'>{{key}}:</small>
                        <br>
                    {% endif %}
                    {{entry}}
                    <br>
               {% endfor %}
            </td>
            {% endif %}
        {% else %}
            <td>-</td>
        {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>

<script>
// datatables part, basically pass the id of the table to the function, and it
// does the rest
$(document).ready( function () {
    $('#t-targets').DataTable({
        scrollY: '70vh',
        scrollCollapse: true,
        paging: false,
        columnDefs: [{
            "targets": '_all',
            "createdCell": function (td, cellData, rowData, row, col) {
                $(td).css('padding', '0.2em')
                $('br').css('display', 'block')
                $('br').css('margin', '1px 0')
                $(td).css('vertical-align', 'top')
            }

        }]
    });

} );
</script>
{% endif %}
{% endblock %}
