{% extends 'base.html' %}


{% block head %}
<!-- link our js file -->
<script type="text/javascript" src="{{url_for('static', filename = 'js/main.js')}}"></script> <script type="text/javascript" src="{{url_for('static', filename = 'js/main.js')}}"></script>
<script src="{{url_for('static', filename = 'js/jquery-3.6.4.slim.min.js')}}" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('static', filename = 'css/jquery.dataTables.css')}}"/>
<script src="{{url_for('static', filename = 'js/jquery.dataTables.js')}}"></script>

{% endblock %}

{% block title %} {{ targetid }} {% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/color-brewer.min.css')}}"/>
<script src="{{url_for('static', filename = 'js/highlight.min.js')}}"></script>

<script>hljs.highlightAll();</script>

<dialog id='inventory'>
    <form method='dialog'>
        <label>press <i>&lt;esc&gt;</i> to close, or click</label>
        <button value="cancel" formmethod="dialog">close</button>
    </form>
    <div>
        <pre><code class="language-json">{{ d }}</code></pre>
    </div>
    <form method='dialog'>
        <label>press <i>&lt;esc&gt;</i> to close, or click</label>
        <button value="cancel" formmethod="dialog">close</button>
    </form>
</dialog>


<div class='main'>
<div class='column-main tile'>
<h2>{{targetid}}</h2>

<div class='toolbox'>
    <div class='subsection'>
        <h4> control panel</h4>
    </div>
    <div class='subsection'>
    {% if state.owner == g.user %}
        <button class='release' onclick='js_alloc_remove("{{state.alloc}}")'>release</button>
    {% else %}
        <button class='acquire' onclick='acquire("{{targetid}}")'>acquire</button>
    {% endif %}
        <button id='get_inventory' onclick='show_inventory()'>get inventory</button>
    </div>
    <hr>
    {% if state.owner == g.user %}
        <div class='subsection'>
            <button onclick='power("{{ targetid }}", "on", "all")'>
                power on
            </button>
            <button onclick='power("{{ targetid }}", "off", "all")'>
                power off
            </button>
            <button onclick='power("{{ targetid }}", "cycle", "all")'>
                power cycle
            </button>
            <button class='minor' onclick="toggle('power-ls')">components  <i class="arrow down"></i></button>
            <button class='minor' onclick="toggle('buttons-ls')">
              buttons, jumpers and relays <i class="arrow down"></i>
            </button>
        </div>
        <div class='subsection' id='power-ls' style="display: none;">
          <table id='t-powerls' class='row-border hover'>
            <thead>
              <tr>
                <th>component</th>
                <th>state</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for k, v in powerls.items() %}
              <tr>
                <td>{{k}}</td>
                {% if v.state == False %}
                  <td>
                    <span style='color: red;'>off</span>
                  </td>
                {% else %}
                  <td>
                    <span style='color: green;'>on</span>
                  </td>
                {% endif %}
                <td>
                    <div class='flex'>
                      <button class='power-on-btn' onclick='power("{{ targetid }}", "on", "{{k}}")'>
                        power on
                      </button>
                      <button class='power-off-btn' onclick='power("{{ targetid }}", "off", "{{k}}")'>
                        power off
                      </button>
                      <button class='power-cycle-btn'  onclick='power("{{ targetid }}", "cycle", "{{k}}")'>
                        power cycle
                      </button>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <hr>

        <!-- If we have button -->
        <div class='subsection' id='buttons-ls' style="display: none;">
          <table id='buttons-table' class='row-border hover'>
            <thead>
              <tr>
                <th>button/jumper/relay</th>
                <th>state</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <!-- buttonls comes from the data jinja2 is taking as
                   input to render in ttbl.ui._target() -->
              {% for k, v in buttonls.items() %}
              <tr>
                <td>{{k}}</td>
                {% if v.state == False %}
                  <td>
                    <span style='color: red;'>released/open/off</span>
                  </td>
                {% elif v.state == True %}
                  <td>
                    <span style='color: green;'>pressed/closed/on</span>
                  </td>
                {% elif v.state == None %}
                  <td>
                    <span style='color: gray;'>n/a</span>
                  </td>
                {% else %}
                  <td>
                    <span style='color: blak;'>unknown</span>
                  </td>
                {% endif %}
                <td>
                    <div class='flex'>
                      <button class='button-press-btn' onclick='js_buttons("{{ targetid }}", "on", "{{k}}")'>
                        press/close/on
                      </button>
                      <button class='button-release-btn' onclick='js_buttons("{{ targetid }}", "off", "{{k}}")'>
                        release/open/off
                      </button>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <hr>

        <div class='subsection'>
            <button>flash all</button>
            <button>flash bios</button>
            <button>flash bmc</button>
            <button>flash cpld1</button>
            <button>flash cpld2</button>
        </div>
        <hr>
        <div class='subsection'>
            <button>console wall</button>
        </div>
        <div class='subsection' id='loading'>
        </div>
        {% else %}
        <!-- the current user is not the owner, so they can't do
             anything, grey it out -->
        <div class='subsection'>
            <button disabled>power on</button>
            <button disabled>power off</button>
            <button disabled>power cycle</button>
            <button disabled class='minor'>components  <i class="arrow down"></i></button>
            <button disabled class='minor'>
              buttons, jumpers and relays <i class="arrow down"></i>
            </button>
        </div>
        <div class='subsection'>
            <button disabled>flash all</button>
            <button disabled>flash bios</button>
            <button disabled>flash bmc</button>
            <button disabled>flash cpld1</button>
            <button disabled>flash cpld2</button>
        </div>
        <div class='subsection'>
            <button disabled>console wall</button>
        </div>
    {% endif %}
</div>

</div>

<div class='column-sidebar'>
    <div class='status'>
        <h4 class='info info-grey'>overview</h4>
        <table class='display'>
          <tr>
            <td>power state:</td>
            <td>
              {% if state.power == 'True' %}
              <label style='color: green;'>on</label>
              {% else %}
              <label style='color: red;'>off</label>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>owner:</td>
            <td>
              {% if state.owner == 'available' %}
              <label style='color: green;'>{{ state.owner }}</label>
              {% elif state.owner == g.user %}
              <div class = "tooltip">
                <label style='color: lightseagreen;'>you </label>
                <span class = "tooltiptext">{{ g.user }}</span>
              </div>
              {% else %}
              <label style='color: red;'>{{ state.owner }}</label>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>type:</td>
            <td>{{ state.type }}</td>
          </tr>

          <tr>
            <td>IPv4 address:</td>
            <td>
              {% if state.ip_short is defined %}  {# too long, shorten and tooltip #}
                <div class = "tooltip">
                  {{state.ip_short}}
                  <span class = "tooltiptext">{{state.ip}}</span>
                </div>
              {% else %}	{# entry is short, no need to tooltip it #}
                {{state.ip}}
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>MAC address:</td>
            <td>
              {% if state.mac_short is defined %}  {# too long, shorten and tooltip #}
                <div class = "tooltip">
                  {{state.mac_short}}
                  <span class = "tooltiptext">{{state.mac}}</span>
                </div>
              {% else %}	{# entry is short, no need to tooltip it #}
                {{state.mac}}
              {% endif %}
            </td>
          </tr>

        </table>
    </div>
</div>

</div>


<script>
// datatables part, basically pass the id of the table to the function, and it
// does the rest
$(document).ready( function () {
    $('#t-powerls').DataTable({
        paging: false,
        ordering: false,
        info:   false,
        searching:   false
    });

} );
$(document).ready( function () {
    $('#buttons-table').DataTable({
        paging: false,
        ordering: false,
        info:   false,
        searching:   false
    });

} );
</script>

{% endblock %}
