{% extends 'base.html' %}


{% block head %}
<!-- link our js file -->
<script type="text/javascript" src="{{url_for('static', filename = 'js/main.js')}}"></script>
<script src="{{url_for('static', filename = 'js/jquery-3.6.4.slim.min.js')}}" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('static', filename = 'css/jquery.dataTables.css')}}"/>

<script src="{{url_for('static', filename = 'js/jquery.dataTables.js')}}"></script>

<script src="{{url_for('static', filename = 'js/xterm.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename = 'css/xterm.css')}}"/>

{% endblock %}

{% block title %} {{ targetid }} {% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/color-brewer.min.css')}}"/>
<script src="{{url_for('static', filename = 'js/highlight.min.js')}}"></script>

<script>hljs.highlightAll();</script>

<dialog id='inventory'>
    <form method='dialog'>
        <label>press <i>&lt;esc&gt;</i> to close, or click</label>
        <button value="cancel" formmethod="dialog">close</button>
    </form>
    <div>
        <pre><code class="language-json">{{ inventory_str }}</code></pre>
    </div>
    <form method='dialog'>
        <label>press <i>&lt;esc&gt;</i> to close, or click</label>
        <button value="cancel" formmethod="dialog">close</button>
    </form>
</dialog>

    <!-- {{ state  }} -->

<div class='main'>
<div class='column-main tile'>
<h2>{{targetid}}</h2>
<div class='subsection' id='loading'></div>

<div class='toolbox'>
    <div class='subsection'>
        <h3> control panel</h3>
    </div>
    <div class='subsection'>

    {% if not state.acquired %}
      <div class = "tooltip">
        <button class='acquire' onclick='acquire("{{targetid}}")'>acquire</button>
        <span class = "tooltiptext">
          Allocate this target so you can use it.
          <p>
            Any operation on the target requires it being acquired by
            you; you can later add guests in the allocations menu.
          </p>
          <p>
            On the command line, you can use:
            <pre><code class="language-bash">$ tcf acquire {{ targetid }} </code></pre>
          </p>
        </span>
      </div>

    {% elif state.user_is_guest %}
      <div class = "tooltip">
        <button class='release' onclick='js_alloc_remove("{{state.alloc}}")'>remove myself as a guest</button>
        <span class = "tooltiptext">
          You ({{ state.user }}) are a <b>guest</b> in this
          target's allocation.
          <p>
            You can remove yourself as a guest but you cannot release
            the target from the allocation; that can only be done by
            its owner ({{ state.owner }}), creator ({{ state.creator
            }}) or an admin.
          </p>
          <p>
            On the command line, you can use:
            <pre><code class="language-bash">$ tcf release {{ targetid }} </code></pre>
          </p>
        </span>
      </div>

    {% else %}
      <div class = "tooltip">
       <button style='background-color: red;' class='release' onclick='js_alloc_remove("{{state.alloc}}")'>release</button>
        <span class = "tooltiptext">
          Release this target from its allocation.

          <p><mark>THIS OPERATION CANNOT BE UNDONE.</mark></p>
          <p>
              Neither you nor guests will no longer have access to the
              target and they might be powered off or reinitialized by
              someone else that allocates them.
          </p>
          <p>
              You can do this because you are either an administrator,
              the owner or the creator of the allocation.
          </p>
          <p>
            On the command line, you can use:
            <pre><code class="language-bash">$ tcf release {{ targetid }} </code></pre>
          </p>
        </span>
      </div>
    {% endif %}

      <div class = "tooltip">
          <button id='get_inventory' onclick='show_inventory()'>get inventory</button>
          <span class = "tooltiptext">
            Display the target's inventory information
            <p>On the command line, you can use:<pre><code class="language-bash">$ tcf get {{ targetid}}
$ tcf ls -vv {{ targetid}}</code> </pre></p>
          </span>
      </div>
    </div>
    <hr>
    {% if state.acquired %}

       <div class='subsection'>

          <div class = "tooltip">
            <button onclick='power("{{ targetid }}", "on", "all")'>
              power on
            </button>
            <span class = "tooltiptext">
              Power on all the components in the power rail

              <p>All the components in the power rail are powered on
                in order (expand the <i>components</i> section to the
                right to see the power rail).</p>

              <p>On the command line, you can use:
                <pre><code class="language-bash">$ tcf power-on {{targetid }}</code></pre></p>
            </span>
          </div>

          <div class = "tooltip">
            <button onclick='power("{{ targetid }}", "off", "all")'>
                power off
            </button>
            <span class = "tooltiptext">
              Power off all the components in the power rail

              <p>All the components in the power rail are powered off
                in reverse order (expand the <i>components</i> section
                to the right to see the power rail).</p>

              <p>On the command line, you can use:
                <pre><code class="language-bash">$ tcf power-off {{targetid }}</code></pre></p>
            </span>
          </div>

          <div class = "tooltip">
            <button onclick='power("{{ targetid }}", "cycle", "all")'>
                power cycle
            </button>
            <span class = "tooltiptext">
              Power cycle all the components in the power rail

              <p>All the components in the power rail are powered off
                in reverse order and then powered on (expand
                the <i>components</i> section to the right to see
                the power rail).</p>

              <p>On the command line, you can use:
                <pre><code class="language-bash">$ tcf power-cycle {{targetid }}</code></pre></p>

            </span>
          </div>

          <button class='minor' onclick="toggle('power-ls')">components  <i class="arrow down"></i></button>
          {% if buttonls|length == 0 %}
              <div class = "tooltip">
                  <button class='minor' disabled>
                    buttons, jumpers and relays
                  </button>
                <span class = "tooltiptext">
                    <p>
                        This machine does not have buttons, jumpers nor
                        relays
                    </p>
                </span>
              </div>
          {% else %}
            <script>
                /* let us update the power state of the buttons when we load
                the page for the first time */
                buttons_state_update_for_all_components("{{targetid}}");
            </script>
              <button class='minor' onclick="toggle('buttons-ls')">
                buttons, jumpers and relays <i class="arrow down"></i>
              </button>
          {% endif %}
       </div>

        <div class='subsection' id='power-ls' style="display: none;">
          <table id='t-powerls' class='row-border hover'>
            <thead>
              <tr>
                <th>component</th>
                <th>
                    state
                    <button id='reload-button' onclick='power_state_update_for_all_components("{{targetid}}");'><span class=reload>&#x21bb;</button>
                </th>
                <th>&nbsp;

                </th>
              </tr>
            </thead>
            <tbody>
            {% if powerls|length != 0 %}
              <script>
                /* let us update the power state of the power rail when we load
                the page for the first time */
                power_state_update_for_all_components("{{targetid}}");
              </script>
            {% endif %}
              {% for component, description in powerls.items() %}
              <tr>

                <td>
                  {# if no description, don't add a tootip to avoid
                     polluting the interface #}
                  {% if description %}
                  <div class = "tooltip">
                    {{ component }}
                    <span class = "tooltiptext">
                      {{ description }}
                    </span>
                  </div>
                  {% else %}
                  {{ component }}
                  {% endif %}
                </td>
                <td id='table-datacell-{{component}}-state' style='color: gray;'>
                    <!-- state will go here -->
                    pending...
                </td>
                <td>
                  {% if 'detected' in component %}
                  <!-- detector's state can't be changed, so don't
                  show controls-->
                  {% else %}
                    <div class='flex'>
                      <button class='power-on-btn' onclick='power("{{ targetid }}", "on", "{{component}}")'>
                        power on
                      </button>
                      <button class='power-off-btn' onclick='power("{{ targetid }}", "off", "{{component}}")'>
                        power off
                      </button>
                      <button class='power-cycle-btn'  onclick='power("{{ targetid }}", "cycle", "{{component}}")'>
                        power cycle
                      </button>
                    </div>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- If we have button -->
        <div class='subsection' id='buttons-ls' style="display: none;">
          <table id='buttons-table' class='row-border hover'>
            <thead>
              <tr>
                <th>button/jumper/relay</th>
                <th>
                    state
                    <button id='reload-button' onclick='buttons_state_update_for_all_components("{{targetid}}");'><span class=reload>&#x21bb;</button>
                </th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <!-- buttonls comes from the data jinja2 is taking as
                   input to render in ttbl.ui._target() -->
              {% for component, description in buttonls.items() %}
              <tr>
                <td>{{component}}</td>
                <td id='table-datacell-{{component}}-button-state' style='color: gray;'>
                    <!-- state will go here -->
                    pending...
                </td>
                <td>
                    <div class='flex'>
                      <button class='button-press-btn' onclick='js_buttons("{{ targetid }}", "on", "{{component}}")'>
                        press/close/on
                      </button>
                      <button class='button-release-btn' onclick='js_buttons("{{ targetid }}", "off", "{{component}}")'>
                        release/open/off
                      </button>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <hr>

        <div class='subsection'>
            <div class = "tooltip">
              <button id='flash-button'
                      onclick='js_images_flash(
                               "{{targetid}}",
                               "flash_images_version_for_all",
                               "{% for image_type in images.keys() %}{{image_type}}:{%endfor%}",
                               "{% for image_info in images.values() %}{{image_info.suffix}}:{%endfor%}"
                               )'>flash firmware</button>
              <span class = "tooltiptext">
                This flashes
                <span style='color: blue;'>
                  {% for image_type in images.keys() %}
                  {{image_type}},
                  {% endfor %}
                </span>
                on the target

              <p>On the command line, you can use:
                <pre><code class="language-bash">$ tcf images-flash {{ targetid }} IMGTYPE:FILENAME... </code></pre></p>
              </span>
            </div>
            <select class='list_versions' id='flash_images_version_for_all'>
                {% for path in paths_for_all_images_types %}
                    <option value={{path.paths}}>{{path.short_name}}</option>
                {% endfor %}
            </select>
            <button class='minor' onclick="toggle('flash-ls')">more <i class="arrow down"></i></button>
        </div>
        <div class='subsection' id='flash-ls' style="display: none;">
          <table id='t-flashls' class='row-border hover'>
            <thead>
              <tr>
                <th>image type</th>
                <th>last flashed</th>
                <th>version</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for image_type, image_info in images.items() %}
              <tr>
                <td>
                  {# if no description, don't add a tootip to avoid
                     polluting the interface #}
                  {% if image_info.description %}
                  <div class = "tooltip">
                    {{image_type}}
                    <span class = "tooltiptext">
                      {{ image_info.description }}
                    </span>
                  </div>
                  {% else %}
                  {{image_type}}
                  {% endif %}
                </td>
                <td>
                    <div class = "tooltip">
                        <small>
                            {{image_info.last_short_name}}
                        </small>
                        <span class = "tooltiptext">{{ image_info.last_name }}</span>
                    </div>
                </td>
                <td>
                  <select class='list_versions' id='flash_images_version_for_component_{{image_type}}'>
                    {% for full_image_path, short_image_path in image_info.file_list.items() %}
                        <option value='{{full_image_path}}'>{{short_image_path.short_name}}</option>
                    {% endfor %}
                  <select>
                </td>
                <td><button onclick='js_images_flash("{{targetid}}", "flash_images_version_for_component_{{image_type}}", "{{image_type}}", "{{image_info.suffix}}")'>flash</button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <hr>
        <div class='subsection'>
            <h4>consoles</h4>
        </div>
        {% for console, console_info in consoles.items() %}
            <div class='console-container'>
                <div class='console-options'>
                    <button onclick='toggle("console-wrapper-{{console}}"); terminal_create("console-{{console}}", "{{targetid}}", "{{console}}"); create_or_destroy_terminal_div("console-wrapper-{{console}}", "console-{{console}}");'>
                          {{console}} <i class="arrow down"></i>
                    </button>
                    <a class='download-button' href='/ttb-v2/targets/{{targetid}}/console/read?component={{console}}' download='console-{{targetid}}-{{console}}.txt'>download ⇓</a>
                    {% if console_info.state == False %}
                        <button id='console-enable-button-{{console}}' onclick='js_console_enable("{{targetid}}", "{{console}}", "enable")' >enable</button>
                        <button id='console-disable-button-{{console}}' onclick='js_console_enable("{{targetid}}", "{{console}}", "disable")' disabled>disable</button>
                    {% else %}
                        <button id='console-enable-button-{{console}}' onclick='js_console_enable("{{targetid}}", "{{console}}", "enable")' disabled>enable</button>
                        <button id='console-disable-button-{{console}}' onclick='js_console_enable("{{targetid}}", "{{console}}", "disable")'>disable</button>
                    {% endif %}
                    <small>|</small>
                    <small>bytes read: <label id='console-read-bytes-{{console}}' style='color: blue;'>0</label></small>
                    <small>---</small>
                    <small>last restart: <label id='console-generation-{{console}}' style='color: blue;'>0</label></small>
                    <small>|</small>
                    {% if console_info.state == False %}
                        <small><label id='console-state-label-{{console}}' style='color: red;'>disabled</label></small>
                    {% else %}
                        <small><label id='console-state-label-{{console}}' style='color: green;'>enabled</label></small>
                    {% endif %}
                </div>
            </div>
            <div class='console-wrapper' id='console-wrapper-{{console}}' style="display: none;">
                <div class='console' id='console-{{console}}'></div>
            </div>
        {%endfor%}

    {% else %}
        <div class='subsection'>
            <p class='info info-yellow'>
                In order to access and utilize the full range of operations
                available for the system, please ensure to reserve/acquire
                it.
            </p>
        </div>
    {% endif %}
</div>

</div>

<div class='column-sidebar'>
    <div class='status'>
        <h4 class='info info-grey'>overview</h4>
        <table class='display'>
          <tr>
            <td>power state:</td>
            <td id='table_datacell_overall_power_state' style='color: gray;'>
              <div class = "tooltip">
                    n/a
                <span class = "tooltiptext">
                    You need to acquire the target to get its power state
                </span>
              </div>
            </td>
          </tr>

          <tr>
            <td>owner:</td>
            <td>
              {% if not state.acquired %}
              <label style='color: green;'>{{ state.owner }}</label>
              {% elif state.owner == g.user %}
              <div class = "tooltip">
                <label style='color: lightseagreen;'>you </label>
                <span class = "tooltiptext">{{ g.user }}</span>
              </div>
              {% else %}
              <label style='color: red;'>{{ state.owner }}</label>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>type:</td>
            <td>{{ state.type }}</td>
          </tr>

          <tr>
            <td>IPv4 address:</td>
            <td>
              {% if state.ip_short is defined %}  {# too long, shorten and tooltip #}
                <div class = "tooltip">
                  {{state.ip_short}}
                  <span class = "tooltiptext">{{state.ip}}</span>
                </div>
              {% else %}	{# entry is short, no need to tooltip it #}
                {{state.ip}}
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>MAC address:</td>
            <td>
              {% if state.mac_short is defined %}  {# too long, shorten and tooltip #}
                <div class = "tooltip">
                  {{state.mac_short}}
                  <span class = "tooltiptext">{{state.mac}}</span>
                </div>
              {% else %}	{# entry is short, no need to tooltip it #}
                {{state.mac}}
              {% endif %}
            </td>
          </tr>

        </table>
    </div>
</div>

</div>


<script>
// datatables part, basically pass the id of the table to the function, and it
// does the rest
$(document).ready( function () {
    $('#t-powerls').DataTable({
        paging: false,
        ordering: false,
        info:   false,
        searching:   false
    });

} );
$(document).ready( function () {
    $('#buttons-table').DataTable({
        paging: false,
        ordering: false,
        info:   false,
        searching:   false
    });

} );
$(document).ready( function () {
    $('#t-flashls').DataTable({
        paging: false,
        ordering: false,
        info:   false,
        searching:   false,
    });

})
</script>

{% endblock %}
