<!-- this is the start of file ui/widget-target-button.html -->

{% if buttonls|length == 0 %}
<div class = "tooltip">
  <button class='minor' disabled>
    buttons, jumpers and relays
  </button>
  <span class = "tooltiptext">
    <p>
      This machine does not have buttons, jumpers nor relays
    </p>
  </span>
</div>

{% else %}

<div class = 'subsection' id = 'buttons' style = "display: block;">
  <script>
    /* let us update the power state of the buttons when we load
       the page for the first time */
    buttons_state_update_for_all_components("{{targetid}}");
  </script>
  <button class='minor' onclick="toggle('buttons-ls', 'flex')">
    buttons, jumpers and relays <i class="arrow down"></i>
  </button>

  <div class = 'subsection' id = 'buttons-ls' style = "display: none;">
    <table id = 'buttons-table' class = 'row-border hover'>
      <thead>
        <tr>
          <th>button/jumper/relay</th>
          <th>
            state
            <button id = 'reload-button' onclick = 'buttons_state_update_for_all_components("{{targetid}}");'><span class = reload>&#x21bb;</button>
          </th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <!-- buttonls comes from the data jinja2 is taking as
             input to render in ttbl.ui._target() -->
        {% for component, description in buttonls.items() %}
        <tr>
          <td>{{component}}</td>
          <td id = 'table-datacell-{{component}}-button-state' style = 'color: gray;'>
            <!-- state will go here -->
            pending...
          </td>
          <td>
            <div class = 'flex'>
              <button class = 'button-press-btn' onclick = 'js_buttons("{{ targetid }}", "on", "{{component}}")'>
                press/close/on
              </button>
              <button class = 'button-release-btn' onclick = 'js_buttons("{{ targetid }}", "off", "{{component}}")'>
                release/open/off
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

<script>
$(document).ready( function () {
    $('#buttons-table').DataTable({
        paging: false,
        ordering: false,
        info:   false,
        searching:   false
    });

} );
</script>

{% endif %}

<!-- this is the end of file ui/widget-target-button.html -->
