<!-- this is start of file ui/widget-target-runner.html

runner: {{ runner }}
data: {{ runner_data }}

  -->

{% if state.acquired %}

<script type="text/javascript" src="{{url_for('static', filename = 'js/widget-target-runner.js')}}">
</script>

<div class='toolbox'>



  <table class='display' id = "label_id_runner_{{ runner }}_table">
    <thead>
      <th align="left">Result</th>
      <th align="left">Elapsed (m)</th>
      <th align="left">Testcase</th>
    </thead>

    <tr>      
      <td colspan = "2">
        <label id = "label_id_runner__{{ runner }}">UNKNOWN</label>
        <button id = 'widget-runner-{{ runner }}-reload-button'
                onclick = 'js_runner_state_update(
                                                "{{ runner}}",
                                                "{{ targetid }}",
                                                "{{ runner_data.type }}",
                                                "{{ runner_data.pipeline }}",
                                                "{{ runner_data.repository }}",
                                                "{{ runner_data.file_path }}",
                                                "{{ runner_data.notify }}")'>
          <span class=reload>&#x21bb;</span>
          <script>
            <!-- update the runner state when we load -->
            js_runner_state_update("{{ runner}}",
                                   "{{ targetid }}",
                                   "{{ runner_data.type }}",
                                   "{{ runner_data.pipeline }}",
                                   "{{ runner_data.repository }}",
                                   "{{ runner_data.file_path }}",
                                   "{{ runner_data.notify }}")
          </script>
        </button>
      </td>
      
      <td>
        <div class = "tooltip">
          <!-- we use label_original one in the Javascript -->
          <button
            class = 'primary'
            id = 'widget-runner-{{ runner }}-run-button'
            onclick = 'js_runner_start_or_stop(
                       "{{ runner }}",
                       "{{ targetid }}",
                       "{{ runner_data.type }}",
                       "{{ runner_data.pipeline }}",
                       "{{ runner_data.repository }}",
                       "{{ runner_data.file_path }}",
                       "{{ runner_data.notify }}")'
            label_original = "{{ runner_data.get('button_name', 'Run job') }}">
           {{ runner_data.get("button_name", "Run job") }}
          </button>
          <span class = "tooltiptext">
            Starts a {{ runner_data.get("type", "<UNDEFINED:runner.ID.type>") }} run of
            {{ runner_data.get("repository", "<UNDEFINED:runner.ID.repository>") }}/
            {{ runner_data.get("file_path", "<UNDEFINED:runner.ID.file_path>") }} using
            pipeline {{ runner_data.get("pipeline", "<UNDEFINED:runner.ID.pipeline>") }},
            notifying {{ runner_data.get("notify", "<UNDEFINED:runner.ID.notify>") }}.
          </span>
        </div>

      </td>
    </tr>

    <tr>      
      <td>PASS </td>
      <td>+1m </td>
      <td>Sample tc 1</td>
    </tr>

    <tr>    
      <td style = 'color: red;'>
        <a href = "JENKINSURL">
          <div class = "tooltip">
            FAIL
            <span class = "tooltiptext">
              This check has failed
              <p>
                We were looking for a negative condition and we found
                it; pleae click on the URL for details
              </p>
            </span>
          </div>
        </a>
      </td>
      <td>+1m </td>
      <td>Sample tc 2</td>
    </tr>

    <tr>          
      <td style = 'color: purple;'><a href = "JENKINSURL">ERRR</a></td>
      <td>+1m </td>
      <td>Sample tc 3</td>
    </tr>

    <tr>          
      <td style = 'color: yellow;'><a href = "JENKINSURL">BLCK</a></td>
      <td>+1m </td>
      <td>Sample tc 3</td>
    </tr>

    <tr>          
      <td style = 'color: cyan;'><a href = "JENKINSURL">SKIP</a></td>
      <td>+1m </td>
      <td>Sample tc 3</td>
    </tr>

  </table>
</div>		<!-- jenkins-run -->
{% else %}   {# if state.acquired #}
<div class='status'>
  <h4 class='info info-grey'>
    <div class = "tooltip">
      Jenkins job runner
      <span class = "tooltiptext">
        Disabled: please acquire this target to be able to use
        <p>
          Triggers jobs via Jenkins integration into this target.
        </p>
      </span>
    </div>
  </h4>
</div>		<!-- jenkins-run -->
{% endif %}   {# if state.acquired #}
<!-- this is end of file ui/widget-target-runner.html -->
