flask
flask-login
flask-principal
ipaddress
keyring
netifaces
pexpect
ply
python-prctl
pyghmi
pyserial
pysnmp
python_ldap
pyusb # ubuntu:python-usb
requests
sdnotify
setuptools
systemd
tornado	# ubuntu:python-tornado
