# Non-Python Requirements
# package: alsa-utils
# package: centos,fedora=buildah
# package: fedora=android-tools ubuntu=android-tools-adb,android-tools-fastboot
# package: dnsmasq
# package: dosfstools
# package: centos,fedora=edk2-ovmf
# package: gcc
# package: ipmitool
# package: libcap-devel ubuntu=libcap-dev
# package: fedora=livecd-tools
# package: lsof
# package: fedora,ubuntu=openocd
# package: centos,fedora=openssh-clients
# package: parted
# package: centos,fedora=podman
# package: python3-devel ubuntu=python3-dev
# package: qemu centos=qemu-kvm
# package: socat
# package: sshpass
# package: tcpdump
# package: fedora,ubuntu=v4l-utils

blinker         # package: python3-blinker
# >=2.3.2 due to https://osv.dev/vulnerability/GHSA-32pc-xphx-q4f6
flask>=2.3.2    # package: python3-flask
flask-login     # package: python3-flask-login
flask-principal # package: fedora,ubuntu=python3-flask-principal
#>=23.0.0 due to https://osv.dev/vulnerability/GHSA-hc5x-x2vx-497g
gunicorn>=23.0.0 # package: python3-gunicorn
# >=0.10 https://osv.dev/vulnerability/GHSA-8867-vpm3-g98g
keyring>=0.10   # package: fedora,ubuntu=python3-keyring
netifaces       # package: python3-netifaces
pexpect         # package: python3-pexpect
ply             # package: python3-ply
# >=4.6.3 due to https://osv.dev/vulnerability/GHSA-m87m-mmvp-v9qm
pymongo>=4.6.3  # package: python3-pymongo
# >=17.5.0 due to https://osv.dev/vulnerability/GHSA-2rcm-phc9-3945
pyOpenSSL>=17.5.0  # package: centos,fedora,rhel=python3-pyOpenSSL ubuntu=python3-openssl
python-prctl    # package: ubuntu=python3-prctl
pyroute2        # package: python3-pyroute2
pyserial        # package: centos,fedora,rhel=python3-pyserial ubuntu=python3-serial
pysnmp          # package: centos,fedora,rhel=python3-pysnmp ubuntu=python3-pysnmp4
# >=3.4.0 due to https://osv.dev/vulnerability/GHSA-qfr5-wjpw-q4c4
python_ldap>=3.4.0     # package: centos,fedora,rhel=python3-ldap
pytz            # package: python3-pytz
pyusb           # package: centos,fedora=python3-pyusb ubuntu=python3-usb
# >= 2.3.0 due to https://osv.dev/vulnerability/GHSA-652x-xj99-gmcc
# >= 2.32 due to https://osv.dev/vulnerability/GHSA-9wx4-h78v-vm56
# >=2.32.4 due to https://osv.dev/vulnerability/GHSA-9hjg-9r4m-mvj7
requests>=2.32.4 # package: python3-requests
# >= 6.0 due to https://osv.dev/vulnerability/PYSEC-2024-44
rpyc>=6.0       # package: fedora=python3-rpyc
# >=78.1.1 due to https://osv.dev/vulnerability/GHSA-5rjg-fvgr-3xxf
setuptools>=78.1.1 # package: python3-setuptools
systemd-python  # package: python3-systemd
# >=6.5 due to https://osv.dev/vulnerability/GHSA-7cx3-6m66-7c5m
tornado>=6.5    # package: python3-tornado
