*.egg-info
*.pyc
*.so
*.swp
*~
.eggs
.project
.pydevproject
.tcf
MANIFEST
__pycache__
_doc/
build
dist
tmp
tags
ttbd/ttbl/version.py
repo/
report-*.txt
!report-base.j2.txt
!report.j2.txt
report-*.xml
report-*.data.json
run.log
setup.cfg
