[TYPECHECK]
generated-members = overriden_.*_50_.*

[MESSAGES CONTROL]
# invalid-name: our variable names are ... special
# bad-whitespace: we come from C, we like C style better
# singleton-comparion: see bad-whitespace
disable = invalid-name, bad-whitespace, singleton-comparison, locally-disabled, protected-access

[BASIC]
# We like our classes called WHATEVER_c so we can tell is a
# class. Blame C. But we don't impose it.
class-attribute-rgx = ([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))(_c)?$

[DESIGN]
# We have functions with a lot of arguments and there is not much we
# can do about it
max-args = 8

[FORMAT]
# Maximum number of characters on a single line.
max-line-length = 79

[REPORTS]
output-format = parseable
reports = n
