# Non-Python Requirements 
# package: make
# package: fedora=gvnc-tools
# package: dosfstools

argcomplete         # package: python3-argcomplete
filelock	    # package: python3-filelock
# Ubuntu 20.4 -- issue installing 3.x
# >=2.10.1 due to https://osv.dev/vulnerability/GHSA-462w-v97r-4m45
# >=3.1.6 due to https://osv.dev/vulnerability/GHSA-cpwx-vrp4-4pq7
Jinja2>=3.1.6       # package: python3-jinja2
# >=5.4 due to https://osv.dev/vulnerability/GHSA-8q59-q68h-6hv4
PyYAML>=5.4         # package: centos,fedora,rhel=python3-pyyaml
imutils
markupsafe==2.0.1   # package: python3-markupsafe
packaging           # package: python3-packaging
ply                 # package: python3-ply
pykwalify           # package: python3-pykwalify
pyte                # package: python3-pyte
pytz                # package: python3-pytz
pyserial            # package: python3-pyserial ubuntu=python3-serial
# This has to build, so in windows take one that is built, otherwise
# we need a lot of extra deps
python-Levenshtein-wheels; sys_platform == "win32"
# make it a soft req in CentOS and RHEL, not available as RPM and can
# be supplied with pip later on
python-Levenshtein; sys_platform != "win32"  # package: python3-Levenshtein ubuntu=python3-levenshtein centos= rhel=
requests            # package: python3-requests
# make it a soft req in CentOS and RHEL, not available as RPM and can
# be supplied with pip later on
rpyc                # package: python3-rpyc centos= rhel=
setuptools          # package: python3-setuptools
tabulate            # package: python3-tabulate
termcolor; sys_platform != "win32"           # package: python3-termcolor
