GitPython                # fedora:python3-GitPython
ansible-lint             # fedora:python3-ansible-lint
gitlint                  # fedora:gitlint
pygithub                 # fedora:python3-pygithub
pylint                   # fedora:python3-pylint,pylint
python-gitlab            # fedora:python3-gitlab
restructuredtext_lint    # fedora:python3-restructuredtext-lint
yamllint                 # fedora:yamllint
