# Non-Python Requirements
# package: fedora,centos,rhel=rpm-build
asciimatics
junit_xml               # package: fedora=python3-junit_xml ubuntu=python3-junitxml
keyring                 # package: fedora,ubuntu=python3-keyring
mariadb                 # package: fedora,centos=mariadb
numpy                   # package: python3-numpy
# Versions bumped due to https://github.com/intel/tcf/security/dependabot/2 CVE-2023-4863 
opencv-python==4.8.1.78 # package: fedora,ubuntu=python3-opencv
pylint                  # package: python3-pylint ubuntu=pylint
pymongo                 # package: python3-pymongo
sphinx                  # package: python3-sphinx
sphinx_rtd_theme        # package: centos,fedora=python3-sphinx_rtd_theme ubuntu=python3-sphinx-rtd-theme
