# Non-Python Requirements
# package: fedora,centos,rhel=rpm-build
asciimatics
junit_xml               # package: fedora=python3-junit_xml ubuntu=python3-junitxml
# >=0.10 https://osv.dev/vulnerability/GHSA-8867-vpm3-g98g
keyring>=0.10           # package: fedora,ubuntu=python3-keyring
mariadb                 # package: fedora,centos=mariadb
# >=1.8.1 https://osv.dev/vulnerability/GHSA-2fc2-6r4j-p65h
# >=1.19 https://osv.dev/vulnerability/GHSA-5545-2q6w-2gh6
# >=1.22 https://osv.dev/vulnerability/GHSA-fpfv-jqm9-f5jm
numpy>=1.22            # package: python3-numpy
# Versions bumped due to https://github.com/intel/tcf/security/dependabot/2 CVE-2023-4863 
opencv-python==4.8.1.78 # package: fedora,ubuntu=python3-opencv
pylint                  # package: python3-pylint ubuntu=pylint
# >=4.6.3 https://osv.dev/vulnerability/GHSA-m87m-mmvp-v9qm
pymongo>=4.6.3          # package: python3-pymongo
sphinx                  # package: python3-sphinx
sphinx_rtd_theme        # package: centos,fedora=python3-sphinx_rtd_theme ubuntu=python3-sphinx-rtd-theme
