# Ubuntu 20.4 -- issue installing 3.x
Jinja2==2.11.2
PyYAML
asciimatics
imutils
ipaddress
junit_xml
keyring
keyring
numpy
# CentOS7's pip3 is quite old, barfs at newer; but then 3.1.0.4 can't
# be found on Ubuntu20...
opencv-python==3.4.8.29
ply
pykwalify
pylint
pymongo
pyserial
python-Levenshtein
pyusb
requests
setuptools
sphinx
sphinx_rtd_theme
tabulate
