Jinja2
PyYAML
asciimatics
imutils
ipaddress
junit_xml
keyring
keyring
numpy
# CentOS7's pip3 is quite old, barfs at newer
opencv-python==3.1.0.4
ply
pykwalify
pylint
pymongo
pyserial
python-Levenshtein
pyusb
requests
setuptools
sphinx
sphinx_rtd_theme
tabulate
