# Non-Python Requirements
# package: dhcp-server
# package: dnsmasq 
# package: httpd
# package: mod_ssl
# package: nfs-utils
# package: rsync
# package: syslinux
# package: fedora:syslinux-efi64
# package: syslinux-extlinux
# package: syslinux-nonlinux
# package: syslinux-extlinux-nonlinux
# package: ipxe-bootimgs
# package: syslinux-tftpboot
# package: tftp-server