[Unit]
Description = Test Targer Broker Daemon HW Health Monitor
# We need network to be online (require) but want to start after it is
# done starting
Requires = network-online.target
After = network-online.target

[Service]
# Allow stuff started by this daemon to access the following
# capabilities (but the daemon doesn't need them/use them):
#
# - CAP_SETUID & CAP_SETGID: to be able to run sudo/suid,sgid from
#   inside us

CapabilityBoundingSet = CAP_SETGID CAP_SETUID
Type = notify
User = ttbd
Group = ttbd
# Gotta be able to read the journal
SupplementaryGroups = systemd-journal
ExecStart = /usr/bin/ttbd-hw-healthmonitor.py -vv
TimeoutSec = 30
NotifyAccess = all
Restart = always
# Send SIGKILL after 5s
TimeoutStopSec = 5
WatchdogSec = 20

[Install]
WantedBy = multi-user.target
